.labelValueContainer {
  background-color: #e9ecef;
  border-radius: 10px;
  margin: 10px 0px;
  width: 25rem;
  height: 3rem;
  box-shadow: 3px 3px 3px #999999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.labelValueTitle {
  font-size: 17px;
  margin-left: 1rem;
}
